.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: url(../src/images/cursor.png) 12 12, auto;
}

::selection {
  background-color: black;
  color: white;
}
